.margen {
    margin: 30px 75px 30px 50px;
}

.relleno {
    margin: 10px;
    padding: 20px 50px 30px 50px;
}

.colorsesion {
    background-color:rgb(240,255,255);
}

div.container {
    padding: 50px;
}

.caja {
    width: 300px;
    height: 100px;
    padding: 50px;
    border: 1px solid red;
    box-sizing: border-box;
}

.img-fluid {
    width: 50%;
    height: auto;
    margin: 45px 20px 25px 45px;
}

.tamanologo {
    height: 45px;
}

.nav {
    background: rgba(252, 252, 252, 50);
}

.colorfondo {
    background: rgba(245, 245, 245, 130);
}
